* {
  box-sizing: border-box;
}

body {
  background-image: url('img/background.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__border {
  border-radius: 8px;
  margin: 6px;
  background-color: whitesmoke;
  color: black;
}

.play__btn {
  width: 80px;
  height: 80px;
  border: 4px solid black;
  font-size: 34px;
  outline: none;
  cursor: pointer;
}

.time__box {
  width: 120px;
  height: 60px;
  font-size: 32px;
  padding: 6px;
}

.count__box {
  width: 60px;
  height: 60px;
  font-size: 32px;
  padding: 6px;
  margin: 6px;
  border-radius: 100%;
  background-color: tomato;
  color: whitesmoke;
}
